[submodule "KotlinWeatherData"]
	path = KotlinWeatherData
	url = git@github.com:successanil/KotlinWeatherData.git
[submodule "KotlinWeatherDataUI2"]
	path = KotlinWeatherDataUI2
	url = git@github.com:successanil/KotlinWeatherDataUI2.git
[submodule "WeatherUI4"]
	path = WeatherUI4
	url = https://github.com/successanil/WeatherUI4.git
[submodule "KotlinHiltDemo"]
	path = KotlinHiltDemo
	url = git@github.com:successanil/KotlinHiltDemo.git
[submodule "BooksApiWithKotlinFlow"]
	path = BooksApiWithKotlinFlow
	url = git@github.com:successanil/BooksApiWithKotlinFlow.git
[submodule "CusExoPlayer18"]
	path = CusExoPlayer18
	url = git@github.com:successanil/CusExoPlayer18.git
[submodule "UnitTestingYT"]
	path = UnitTestingYT
	url = git@github.com:successanil/UnitTestingYT.git
[submodule "KotlinNavigationExample"]
	path = KotlinNavigationExample
	url = git@github.com:successanil/KotlinNavigationExample.git
